<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <title>About us</title>
  </head>

  <body>

    <div class="w3-sand w3-grayscale w3-large">

      <div class="w3-container" id="about">
        <div class="w3-content" style="max-width:700px">
          <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT US</span></h5>
          <p>Our recipes section is full of delicious, nutrition packed dishes with affordable ingredients and simple preparation. Our advice section has accurate, well researched health information you can rely on, including some very useful downloadable resources. </p>
          <p>Our shopping section helps you make informed choices as to which products are best for you, or your family. You are investing in your health when you subscribe to Healthy Meal Delivery.</p>
          <div class="w3-panel w3-leftbar w3-light-grey">
            <p><i>“Real cooking is more about following your heart than following recipes.”</i></p>
          </div>
          <img src='../../assets/meal.jpg' style="width:100%;max-width:1000px" class="w3-margin-top">
          <p><strong>We work</strong> everyday from 9am to 9pm.</p>
          <p><strong>Address:</strong> Kazakhstan, Almaty city, Sultan Beibarys 12</p>
        </div>

    </div>

    <div class="w3-container" id="where" style="padding-bottom:32px;">
      <div class="w3-content" style="max-width:700px">
        <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">WHERE TO FIND US</span></h5>
        <p>Find us at some address at some place.</p>
        <img src='../../assets/map.jpg' class="w3-image" style="width:100%">
        <p><span class="w3-tag">FYI!</span> We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste.</p>
      </div>
    </div>

<app-footer></app-footer>
