<body> 
  <nav>
    <ul class="nav">
      <li class="navigation-option">
        <a routerLink="/home" class="navigation-option">Home</a>
      </li>
      <li class="navigation-option">
        <a routerLink="/about" class="navigation-option">About</a>
      </li>
      <li class="navigation-option">
        <a routerLink="/albums" class="navigation-option">Albums</a>
      </li>
    </ul>
  </nav>
  <section class="hero">
    <div class="background-image"></div>
    <div class="hero-content-area">
      <router-outlet></router-outlet>
    </div>
  </section>
</body>



