:host {
  width: 100%;
  --productSize: 400px;
}

p{
  color: #000;
  padding: 10px;
  font-size: 17px;
}
h3{
  padding: 10px;
  margin: auto;
}
.name{
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.products__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 40px;
}
.product__item{
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.28);
}
.product__item:hover {
  border: 1px solid #777;
}
.product__title{
  font-size: 15px;
}
.product__content{
  display: flex;
  padding: 1rem;
}

.product__price{
  margin-left: auto;
  font-size: 15px;
  color: #000;
}
.product__image{
  display: block;
  height: auto;
  object-fit: cover;
  padding: 10px;
  margin: auto;
  border: 1px solid #ccc;
  float: left;
  width: 100%;
}

.product__figure{
  height: calc(var(--productSize) - 100px);
  width: 100%;
  padding: 0;
  margin: 0;
}
#share{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 10px;
}

#ssylka{
  color: black;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/

