<!DOCTYPE html>
<html lang="en">
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Header -->
<header class="w3-container w3-green w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Cooking Mad</h1>
  <p class="w3-xlarge">Cook for Love.</p>
  <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top" routerLink="/categories">Get Started</a>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>What we’re about</h1>
      <h5 class="w3-padding-32">The key to good health is good nutrition, so Healthy Meal Delivery
       (HMD) is your complete guide to healthy eating and getting the best nutrition.</h5>

      <p class="w3-text-grey">We don’t believe in diets. We do believe in healthy eating every day. There are many ways to achieve this, and different approaches work for different people. Changes to healthier eating should be practical, enjoyable and sustainable, not restrictive and unsociable.</p>
    </div>
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-green w3-margin-right"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-green"></i>
    </div>

    <div class="w3-twothird">
      <h1>Policy</h1>
      <h5 class="w3-padding-32">Our nutrition writers are degree-qualified and we talk to
      internationally recognised experts about the latest, most accurate research. </h5>

      <p class="w3-text-grey">Our advice comes from the body of solid scientific evidence on a topic,
      not the latest fads, celebrity endorsements or individual pieces of research. You get the facts, not myths and misinformation.
      When there’s scientific debate on a topic, we’ll tell you.
      And when new evidence comes to light, we’ll let you know about that, too.</p>
    </div>
  </div>
</div>

</body>
</html>

<app-footer></app-footer>
